/* All the font should be in Roboto */
* {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

a:link {
    color: rgb(31, 183, 221);
}

a:visited {
    color: silver;
}

/* 10px margin on the right between the img and the text */
img {
    float: left;
    padding: 0px 10px 0px 0px;
}

/* The UL should be in teal */
h1.tealcolor + ul {
    color: teal;
}

/* 2nd textual paragraph should not be next to the img */
.clearfixhack {
    content: "";
    clear: both;
    display: table;
}

.centeralign {
    text-align: center;
}

/* This piece of code is required to center align the unordered list dots also */
ul.centeralign {
    display: table;
    margin: 0 auto;
}

/* Applies to non-textual elements */
html {
    background-color: #cbaf87
}

/* Apples to textual elements */
body {
    background-color: #e7dec8
}

/* Fix the navigation bar to the top */
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: #7e8a97;
}

/* Elements need to be moved down, as the navigation bar is fixed to the top */
.movedown {
    margin-top: 175px;
}